@page
@model RealEstateCourse_TopLearn.Pages.Panel.Admin.Categories.CreateModel
@{
    ViewData["Title"] = "ایجاد دسته بندی";
}
<div class="row mt-5">
    <partial name="_Panel" />
    <div class="col-lg-9 col-12">
        <div class="card pb-4 text-center p-2">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="card-header">
                    <h4 class="h4 text-center"> ایجاد دسته بندی </h4>
                </div>
                <div class="row p-3">
                    <h6 class="text-right my-3"> نام دسته بندی </h6>
                    <input asp-for="CategoryModel.Title" placeholder="نام دسته بندی را وارد کنید . . . " class="form-control mt-2">
                    <span asp-validation-for="CategoryModel.Title"></span>
                    <h6 class="text-right my-3"> توضیحات </h6>
                    <textarea asp-for="CategoryModel.Description" id="discription" cols="15" rows="5" placeholder="توضیحات دسته بندی را وارد کنید" class="form-control"></textarea>
                    <span asp-validation-for="CategoryModel.Description"></span>

                    
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <button type="submit" class="btn btn-success btn-block text-white mx-2">تایید</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a asp-page="Index" class="btn btn-secondary btn-block">بازگشت</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
