@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی نامعتبر";
}

<h1 class="alert alert-danger text-center">دسترسی نامعتبر است!</h1>
<h4 class="alert alert-warning text-center">شما اجازه دسترسی به این منبع را ندارید</h4>