@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-mother">
    <div class="login-register">
        <h3 class="text-center text-dark"> ورود به سایت </h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <label for="phoneNumber" class="my-2"> شماره همراه: </label>
            <input asp-for="Input.PhoneNumber" id="phoneNumber" class="form-control">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            <label for="password" class="my-2"> رمز عبور : </label>
            <input asp-for="Input.Password" type="password" id="password" class="form-control">
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="d-flex align-items-center">
                <input asp-for="Input.RememberMe" id="checkbox" class="form-control ml-2" type="checkbox">
                <label for="checkbox"> مرا به خاطر بسپار؟ </label>
            </div>
            <div class="login-btn">
                <button type="submit" class="btn btn-success"> تایید ! </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Links{
    <link rel="stylesheet" href="~/css/Login_Register.css" />
}