@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}

<div class="login-mother register">
    <div class="login-register">
        <h3 class="text-dark text-center"> ثبت نام </h3>
        <form method="post" asp-route-returnUrl="@Model.Input.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <label for="name"> نام و نام خانوادگی : </label>
            <input asp-for="Input.FullName" id="name">
            <span asp-validation-for="Input.FullName" class="text-danger"></span>

            <label for="phoneNumber"> شماره همراه : </label>
            <input asp-for="Input.PhoneNumber"  id="phoneNumber">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            <label for="password"> رمز عبور : </label>
            <input asp-for="Input.Password" type="password" id="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <label for="password2"> تکرار رمز عبور : </label>
            <input asp-for="Input.ConfirmPassword" type="password" id="password2">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <a class="text-dark LoginRegister-link d-block" asp-page="Login">
                قبلا ثبت نام کرده اید؟ وارد شوید.
            </a>

            <div class="login-btn">
                <button type="submit"> تایید ! </button>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Links{
    <link rel="stylesheet" href="~/css/Login_Register.css" />
}



