@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h4 class="text-title"> به سایت <span class="span1">مشاورین املاک </span> <span class="span2"> تاپ لرن</span> خوش آمدید !</h4>

<!--    banner-->
<div class="banner">
    <img src="image/15.jpg" alt="">
</div>
<!--    end banner-->
<!--    title-->
<div class="title">
    <h2> تازه ترین املاک تاپ لرن </h2>
</div>
<!--    end title-->
<!--    products-->
@if (Model.EstatesViewModel.Any())
{
    <div class="products row">
        @foreach (var estate in Model.EstatesViewModel)
        {
            <div class="col-lg-4 col-md-6 col-12">
                <div class="product-card">
                    <div class="image">
                        <img src="~/image/Estates/@estate.Image" alt="product1">
                    </div>
                    <div class="card-body">
                        <p class="d-flex justify-content-between">
                            <span> @estate.Title </span>
                            <span> @estate.Metrage متری </span>
                        </p>
                        <p class="mt-2 address">
                            <i class="fas fa-map-marked-alt text-orange"></i>
                            @estate.Address
                        </p>
                        <p class="my-2"> مبلغ : @estate.Price </p>
                    </div>
                </div>
            </div>
        }

    </div>

}
else
{
    <h3 class="alert alert-info text-center"> ملکی موجود نیست! </h3>
}
<!--    end products-->

<footer>
    <!--    about us-->
    <div class="contactUs">
        <h4> ارتباط با ما : 09252515455 </h4>
    </div>
    <!--    end about us-->
    <!--    logo-->
    <div class="logo-footer"> <h1>TopLearn</h1></div>
    <!--   End logo-->
    <!--    symbol-->
    <div class="symbol d-flex">
        <img class="p-1" src="image/ENAMAD.png" width="170" height="100">
        <img class="p-1" src="image/SAMANDEHI.png" width="170" height="100">
    </div>
    <!--    end symbol-->
</footer>
<h5 class="copy-right"> تمامی حقوق این سایت برای توسعه دهندگان تاپ لرن محفوظ است </h5>
