<footer>
    <!--    about us-->
    <div class="contactUs">
        <h4> ارتباط با ما : 09252515455 </h4>
    </div>
    <!--    end about us-->
    <!--    logo-->
    <div class="logo-footer"> <h1>TopLearn</h1></div>
    <!--   End logo-->
    <!--    symbol-->
    <div class="symbol d-flex">
        <img class="p-1" src="image/ENAMAD.png" width="170" height="100">
        <img class="p-1" src="image/SAMANDEHI.png" width="170" height="100">
    </div>
    <!--    end symbol-->
</footer>
<h5 class="copy-right"> تمامی حقوق این سایت برای توسعه دهندگان تاپ لرن محفوظ است </h5>