@using Microsoft.AspNetCore.Identity
@using RealEstateCourse_TopLearn.Models;
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    @await RenderSectionAsync("Links", required: false)

</head>

<body>
    <div class="container">
        <!--    header-->
        <header>
            <nav>
                <!--   صفحات = خانه - املاک-->
                <div class="ul d-flex justify-content-center align-items-center">
                    <li><a class="active" href="/">خانه</a></li>
                    <li><a href="#"> املاک </a></li>
                </div>
                <!--            logo-->
                <div class="logo">
                    <h3> مشاورین املاک تاپ لرن </h3>
                </div>
                <!--            ورود - ثبت نام-->
                <div class="d-flex justify-content-center align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">سلام @User.Identity?.Name!</a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class=" btn btn-link">خروج</button>
                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Register">ثبت نام</a>
                        <a asp-area="Identity" asp-page="/Account/Login">ورود</a>
                    }

                </div>
            </nav>
        </header>
        <!--end header-->
        @RenderBody()
    </div>
    <!--footer-->
    
    <script src="~/js/all.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>