@using Microsoft.AspNetCore.Identity
@using RealEstateCourse_TopLearn.Models;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    @await RenderSectionAsync("Links", required: false)

</head>

<body>
    <div class="container">
        <!--    header-->
        @await Component.InvokeAsync("HeaderComponent")
        <!--end header-->
        @RenderBody()
    </div>
    <!--footer-->
    
    <script src="~/js/all.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>