@page
@model RealEstateCourse_TopLearn.Pages.Panel.Admin.Estates.DeleteModel
@{
    ViewData["Title"] = "حذف ملک";
}
<div class="row mt-5">
    <partial name="_Panel" />

    <div class="col-lg-9 col-md-9 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center font-weight-bold m-auto"> حذف ملک </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="ViewModel.Id" />
                    <input type="hidden" asp-for="ViewModel.Image" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <label class="h6 my-2"> نام </label>
                            <input asp-for="ViewModel.Title" class="form-control" disabled>
                            <label class="h6 my-2"> متراژ </label>
                            <input asp-for="ViewModel.Metrage" class="form-control" disabled>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="~/image/Estates/@Model.ViewModel.Image" width="200px" height="200px" class="my-2 mx-auto d-block">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <button class="btn btn-danger btn-block mr-1 my-3" type="submit"> حذف </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <a asp-page="Index" class="btn btn-secondary btn-block my-3"> بازگشت </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>